.header {
    display: flex;
    justify-content: space-between;
    background-color: #203b66;
    padding : 0.5em 0.5em 0.5em 0;
}

.header__menu-item{
    padding : 0 1em;
    color: white;
    font-size: 1.5em;
    border-right: 1px white solid;
    cursor: pointer;
}

.header__menu-item:hover {
    background-color: white;
    color: #203b66;
    border-right: 1px #203b66 solid;
}