<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
  <nav>
    <span class="header__menu-item">Boards</span>
    <span class="header__menu-item">Stats</span>
  </nav>
  <app-login></app-login>
</header>
<section>
  <app-boards></app-boards>
</section>
