.boards__boardList {
    display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
}
.boards__board {
    width : 23%;
    height: 25vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    margin: 1em 0 0 1em;
    -webkit-box-shadow: 6px 7px 21px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 6px 7px 21px 0px rgba(0,0,0,0.65);
    box-shadow: 6px 7px 21px 0px rgba(0,0,0,0.65);
    cursor: pointer;
    font-size: 1.5em;
}
.boards__board:hover {
    -webkit-box-shadow: 6px 7px 21px -6px rgba(0,0,0,0.65);
    -moz-box-shadow: 6px 7px 21px -+px rgba(0,0,0,0.65);
    box-shadow: 6px 7px 21px -6px rgba(0,0,0,0.65);
}
/* .boards__board__name {
    font-size: 1.5em;
} */
