<p-dialog header="Create board" [(visible)]="displayDialog" [resizable]="false">
  Board name : <input type="text" class="boards__create__name" #boardNameInput>
  Theme color : <p-colorPicker [(ngModel)]="color" (onChange)="onColorPick($event)" ></p-colorPicker>
  <div>
    <button 
      pButton type="button" 
      class="ui-button-success" 
      label="Create"
      (click)="onConfirm(boardNameInput)"
    ></button>
    <button 
      pButton type="button" 
      class="ui-button-danger" 
      label="Cancel"
    ></button>
  </div>
</p-dialog>
<div class="boards__boardList" *ngIf="!wasBoardSelected">
    <span
    class="boards__board"  
    pButton type="button" 
    label="Create board"
    (click)="showDialog()"
    ></span>
  <span 
    *ngFor="let board of boards" 
    class="boards__board" 
    [ngStyle]="{'backgroundColor':board.theme,'color':'white'}"
    (click)="onBoardSelect(board)"
    >
    <h3 class="boards__board__name">{{board.name}}</h3>
  </span>
</div>
<div class="boards__singleBoard" *ngIf="wasBoardSelected" >
    <app-board [board]="boardChosen"></app-board>
</div>